@import "vendor/*.scss";
@import "global/*.scss";
@import "block/*.scss";

* {
  box-sizing: border-box;
}

body {
  font-size: $base-font-size;
  font-family: $ff-inter-extralight;
  line-height: 1.5;
  background-color: $color-white;
}
