@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("/font/Inter-ExtraLight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter-ExtraLight";
  font-style: normal;
  font-weight: 200;
  src: url("/font/Inter-ExtraLight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/font/Inter-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/font/Inter-Bold.woff2") format("woff2");
  font-display: swap;
}
