@mixin font-face($family, $url, $weight: 400) {
  @font-face {
    font-family: $family;
    font-style: normal;
    font-weight: $weight;
    src: url("#{$url}.woff2") format("woff2"), url("#{$url}.woff") format("woff");
    font-display: swap;
  }
}

@include font-face("Inter-ExtraLight", "../fonts/Inter-ExtraLight", 200);
@include font-face("Inter-Regular", "../fonts/Inter-Regular");
@include font-face("Inter-Bold", "../fonts/Inter-Bold", 700);
