@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("/font/Inter-ExtraLight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/font/Inter-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/font/Inter-Bold.woff2") format("woff2");
  font-display: swap;
}


// работает
// @mixin font-face($family, $url, $weight: 400) {
//   @font-face {
//     font-family: $family;
//     font-style: normal;
//     font-weight: $weight;
//     src: url("#{$url}.woff2") format("woff2"), url("#{$url}.woff") format("woff");
//     font-display: swap;
//   }
// }

// @include font-face("Inter-ExtraLight", "../font/Inter-ExtraLight", 200);
// @include font-face("Inter-Regular", "../font/Inter-Regular");
// @include font-face("Inter-Bold", "../font/Inter-Bold", 700);
