.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;

  @media (max-width: ($vp-1440 - 1)) {
    font: $font-700-24-29;
    margin-bottom: 10px;
  }

  @media (max-width: ($vp-768 - 1)) {
    font: $font-700-18-21;
  }
}

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
}

.btn {
  &-arrow {
    display: flex;
    width: 75px;
    height: 75px;
  }

  &-white {
    font: $font-700-40-48;
    padding: 5px 25px;
    border: 2px solid $color-black;
    border-radius: 40px;
    background-color: $color-white;
    color: $color-black;

    &:before {
      content: 'оставить заявку';
    }
  }

  &-black {
    font: $font-700-24-29;
    padding: 5px 36px;
    border-radius: 25px;
    background-color: $color-black;
    color: $color-white;
  }

  &-black--order {
    justify-self: center;
    &:before {
      content: 'Заказать';
    }
  }

  &-black--add {
    &:before {
      content: 'Добавить';
    }
  }

  &-black--review {
    &:before {
      content: 'Обзор..';
    }
  }

  &-black--send {
    justify-self: center;
    &:before {
      content: 'Отправить';
    }
  }

  &-black--order:active,
  &-black--add:active,
  &-black--send:active
   {
    width: 39px;
    height: 39px;
    padding: 0;

    &:before {
      content: '';
      width: 20px;
      height: 2px;
      background-color: $color-white;
      transform: translateY(1px) rotate(45deg);
    }

    &:after {
      content: '';
      width: 20px;
      height: 2px;
      background-color: $color-white;
      transform: translateY(-1px) rotate(-45deg);
    }
  }
}

@media (max-width: ($vp-1440 - 1)) {
  .btn-black {
    font: $font-700-18-21;
    padding: 7px 20px;
  }

  .btn-black--review {
    &:before {
      content: 'обзор';
    }
  }

  .btn-black--add:active {
    width: 31px;
    height: 31px;
    padding: 0;

    &:before,
    &:after {
      width: 17px;
    }
  }

  .btn-white {
    font: $font-700-20-29;
    border: 2px solid $color-black;
    border-radius: 25px;
  }

  .btn-arrow {
    width: 60px;
    height: 60px;

    svg {
      width: 30px;
      height: 37px;
    }
  }
}

@media (max-width: ($vp-768 - 1)) {
  .btn-black, 
  .btn-white {
    font: $font-700-18-21;
  }

  .btn-arrow {
    width: 30px;
    height: 30px;

    svg {
      width: 16px;
      height: 21px;
    }
  }
}
