body.on-modal {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
}

.btn {
  &-arrow {
    display: flex;
    width: 75px;
    height: 75px;
  }

  &-white {
    display: flex;
    justify-content: center;
    align-items: center;
    font: $font-700-40-48;
    padding: 5px 12px;
    border: 2px solid $color-black;
    border-radius: 40px;
    background-color: $color-white;
    color: $color-black;
    cursor: pointer;
    &:active {
      color: $color-nero;
      border: 2px solid $color-nero;
    }

    &:before {
      content: 'оставить заявку';
    }
  }

  &-black {
    font: $font-700-24-29;
    display: flex;
    padding: 5px 36px;
    border-radius: 25px;
    background-color: $color-black;
    color: $color-white;
    cursor: pointer;
  }

  &-black--order {
    justify-self: center;
    &:before {
      content: 'Заказать';
    }
  }

  &-black--add {
    &:before {
      content: 'Добавить';
    }
  }

  &-black--review {
    &:before {
      content: 'Обзор..';
    }
  }

  &-black--send {
    justify-self: center;
    &:before {
      content: 'Отправить';
    }
  }

  // &-black--order:active,
  // &-black--add:active,
  &-black--send:active {
    width: 39px;
    height: 39px;
    padding: 0;
  }

  // &-black--order:active {
  //   &:before {
  //     content: '';
  //     width: 21px;
  //     height: 2px;
  //     background-color: $color-white;
  //     transform: translate(10px, 18px) rotate(45deg);
  //   }

  //   &:after {
  //     content: '';
  //     width: 21px;
  //     height: 2px;
  //     background-color: $color-white;
  //     transform: translate(-10px, 18px) rotate(-45deg);
  //   }
  // }

  // &-black--add:active,
  &-black--send:active {
    &:before {
      content: '';
      width: 21px;
      height: 2px;
      background-color: $color-white;
      transform: translate(0, 2px) rotate(45deg);
    }
  
    &:after {
      content: '';
      width: 21px;
      height: 2px;
      background-color: $color-white;
      transform: translate(0, 0) rotate(-45deg);
    }
  }
}

@media (max-width: ($vp-1440 - 1)) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title {
    font: $font-700-24-29;
    margin-bottom: 10px;
  }

  .btn-arrow img {
    width: 30px;
  }

  .btn-black {
    font: $font-700-18-21;
    padding: 7px 20px;
  }

  .btn-black--review {
    &:before {
      content: 'обзор';
    }
  }

  .btn-black--order:active {
    width: 35px;
    height: 35px;
    padding: 0;

    &:before {
      transform: translate(9px, 16px) rotate(45deg);
    }
    &:after {
      transform: translate(-8px, 16px) rotate(-45deg);
    }
  }

  .btn-black--send:active {
    width: 35px;
    height: 35px;
    padding: 0;

    &:before {
      transform: translate(0, 2px) rotate(45deg);
    }
    &:after {
      transform: translate(0, 0) rotate(-45deg);
    }
  }

  .btn-black--add:active {
    width: 31px;
    height: 31px;
    padding: 0;

    &:before,
    &:after {
      width: 17px;
    }
  }

  .btn-white {
    font: $font-700-20-29;
    border: 2px solid $color-black;
    border-radius: 25px;
  }

  .btn-arrow {
    width: 60px;
    height: 60px;

    svg {
      width: 30px;
      height: 37px;
    }
  }
}

@media (max-width: ($vp-768 - 1)) {
  .title {
    font: $font-700-18-21;
    margin-top: 10px;
  }

  .btn-black, 
  .btn-white {
    font: $font-700-18-21;
  }

  .btn-arrow {
    width: 30px;
    height: 30px;

    svg {
      width: 16px;
      height: 21px;
    }
  }
}
