// Colors
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

// Default
$color-black:                 #0e0e0e;
$color-white:                 #ffffff;

// Project
$color-solitude:              #eaecf0;
$color-light-grey:            #d3d3d3;


// Viewports
$vp-320:                      320px;
$vp-768:                      768px;
$vp-1024:                     1024px;
$vp-1280:                     1280px;
$vp-1440:                     1440px;
$vp-1920:                     1920px;

// Fonts
$base-font-size:              21px;
$base-font-family:            "Inter", "MS Sans Serif", sans-serif;
