.dev__web {
  &-container {
    padding-top: 88px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 10fr 2fr;
    align-items: center;
  }

  &-inbox {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    align-items: baseline;
    gap: 40px;

    p {
      font: $font-700-40-48;
      margin-top: 0;
      margin-bottom: 20px;
      justify-self: flex-end;
    }

    a {
      width: 60px;
      height: 50px;
      justify-self: end;
      align-self: flex-start;
      margin-top: 10px;
    }
  }

  &-services {
    display: flex;
    flex-direction: column;

    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 120px 0 30px;
    gap: 100px;

    fieldset {
      padding: 0;
      display: grid;
      grid-template-columns: 250px 70px auto 200px;
      grid-template-rows: 50px auto;
      gap: 10px;
      border: none;
      grid-template-areas: 
      "title number description price"
      "title number description button";

      label {
        grid-area: button;
        justify-self: center;
      }

      input:checked + span {
        width: 39px;
        height: 39px;
        padding: 0;
        &:before {
          content: '';
          width: 21px;
          height: 2px;
          background-color: $color-white;
          transform: translate(10px, 19px) rotate(45deg);
        }
    
        &:after {
          content: '';
          width: 21px;
          height: 2px;
          background-color: $color-white;
          transform: translate(-10px, 19px) rotate(-45deg);
        }
      }
    }

    .btn-white {
      width: 418px;
      align-self: center;
    }
  }

  &-title {
    font: $font-200-24-29;
    grid-area: title;
    text-align: end;
    word-break: break-word;
  }

  &-number {
    font: $font-700-24-29;
    grid-area: number;
    justify-self: center;
  }

  &-description,
  &-price {
    margin-bottom: 0;
  }

  &-description {
    font: $font-200-24-29;
    grid-area: description;
    padding-right: 20px;

    span {
      font: $font-700-24-29;
    }
  }

  &-price {
    font: $font-700-24-29;
    grid-area: price;
  }

  &-promotion {
    font: $font-700-24-29;
    display: flex;
    flex-direction: column;
    width: 385px;
    align-items: center;
    align-self: center;
    border: 1px solid $color-light-grey;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 30px 10px;

    p:first-child {
      word-break: break-word;
      text-align: center;
      margin-top: 0;
      margin-bottom: 50px;
    }
  }

  &-promotion--active {
    border: 1px solid $color-black;
  }
}

@media (max-width: ($vp-1440 - 1)) {
  .dev__web-container {
    padding-top: 45px;
  }

  .dev__web-container h2 {
    align-self: baseline;
  }

  .dev__web-inbox {
    gap: 30px;

    p {
      font: $font-700-24-29;
    }
    a {
      width: 30px;
      margin-top: 0;
    }
  }

  .dev__web-services {
    margin: 30px 0;
    gap: 60px;

    fieldset {
      grid-template-columns: 150px 50px auto 160px;
      grid-template-rows: 40px auto;
    }

    .btn-white {
      width: 270px;
    }

    input:checked + span {
      width: 35px;
      height: 35px;
      padding: 0;
      &:before {
        content: '';
        width: 21px;
        height: 2px;
        background-color: $color-white;
        transform: translate(9px, 16px) rotate(45deg);
      }
  
      &:after {
        content: '';
        width: 21px;
        height: 2px;
        background-color: $color-white;
        transform: translate(-9px, 18px) rotate(-45deg);
      }
    }
  }

  .dev__web-title {
    text-align: start;
  }

  .dev__web-title,
  .dev__web-description {
    font: $font-200-18-22;
  }

  .dev__web-number {
    font: $font-700-18-21;
  }

  .dev__web-description span,
  .dev__web-price {
    font: $font-700-18-21;
  }

  .dev__web-price {
    text-align: center;
  }

  .dev__web-promotion {
    padding: 10px;
    p {
      font: $font-700-18-21;
      margin-bottom: 5px;

      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: ($vp-768 - 1)) {
  .dev__web-container {
    grid-template-columns: 1fr;
    &:first-child {
      padding-top: 0;
    }
  }

  .dev__web-services {
    gap: 40px;
    margin: 15px 0;

    fieldset {
      grid-template-columns: auto 20px 120px;
      grid-template-rows: auto auto;
      grid-template-areas: 
      "title number price"
      "description description button";
      gap: 5px;
    }

    button {
      font: $font-700-14-17;
    }
  }

  .dev__web-inbox {
    justify-content: flex-start;
    justify-self: flex-start;
    gap: 20px;
    grid-row: 1 / 2;
  }

  .dev__web-title {
    font-size: 15px;
    line-height: 18px;
    margin-top: 12px;
  }

  .dev__web-number {
    font: $font-700-14-17;
  }

  .dev__web-description {
    font: $font-200-12-14;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .dev__web-description span {
    font: $font-700-12-15;
  }

  .dev__web-price {
    font: $font-700-14-17;
  }

  .dev__web-promotion {
    width: 280px;
    margin-top: 30px;
    margin-bottom: 30px;

    p {
      font: $font-700-14-17;
    }
  }
}
