.dev__web {
  &-container {
    padding-top: 88px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    align-items: center;

    p {
      font: $font-700-40-48;
      margin-top: 0;
      margin-bottom: 20px;
    }

    button {
      width: 60px;
      justify-self: end;
    }
  }

  &-services {
    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 120px 0;
      gap: 100px;
    }

    li {
      display: grid;
      grid-template-columns: 250px 70px auto 250px;
      gap: 20px;
    }
  }

  &-title {
    font: $font-200-24-29;
    text-align: end;
  }

  &-number {
    font: $font-700-24-29;
    justify-self: center;
  }

  &-description {
    font: $font-200-24-29;
    padding-right: 20px;

    span {
      font: $font-700-24-29;
    }
  }

  &-order {
    justify-self: end;

    p {
      font: $font-700-24-29;
    }

    button {
      padding: 5px 45px;
      border-radius: 50px;
    }
  }
}
