.footer {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 120px 16px;
  background-color: $color-white;
}

.ordering__contacts {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;

  img {
    display: block;
    width: 100%;
    aspect-ratio: 1440 / 396;
    max-height: 294px;
  }
}

.ordering__item {
  &:nth-child(n) {
    align-items: center;
    justify-self: center;
  }
  &:nth-child(n) a {
    text-decoration: none;
  }
  &:nth-child(3n+1) a {
    text-decoration: underline;
  }
}

.ordering img {
  aspect-ratio: 768 / 228;
}

@media (max-width: ($vp-768 - 1)) {
  .ordering__contacts {
    gap: 20px;
  }

  .ordering__item p {
    font: $font-700-12-15;
  }

  .ordering__item a {
    font: $font-200-12-14;
  }

  .ordering img {
    aspect-ratio: 320 / 86;
    max-height: 195px;
  }
}