.form {
  position: relative;

  .wrapper {
    position: relative;
  }

  fieldset {
    padding: 0;
    border: none;

    input {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }
  }

  &__boooooox {
    position: relative;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 60px 1fr 1fr;
    gap: 50px;

    h4 {
      font: $font-200-24-29;
      grid-column: 3 / 1;
      text-align: end;
      margin-top: 0;
    }
  }
}

.form__option {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Crect width='15' height='15' x='.5' y='.5' fill='%23fff' rx='3.5'/%3E%3Crect width='15' height='15' x='.5' y='.5' stroke='%23E8E7E7' rx='3.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

fieldset input:checked + .form__option,
fieldset input:checked:hover + .form__option {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Crect width='15' height='15' x='.5' y='.5' fill='%23fff' rx='3.5'/%3E%3Cpath stroke='%23000' d='M4 7.143 7.2 10 12 5'/%3E%3Crect width='15' height='15' x='.5' y='.5' stroke='%23000' rx='3.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.form__intro {
  padding-top: 70px;
  background-color: $color-white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  h2 {
    grid-column: 2 / 3;
    justify-self: center;
    margin-bottom: 30px;
  }
}

.form__progress {
  position: absolute;
  width: 6px;
  height: 120em;
  background-color: $color-solitude;
  box-shadow: 1px 1px 2px 0px rgba(166, 171, 189, 1) inset;
  display: flex;
  align-self: center;
  top: 150px;
  z-index: -2;
  border-radius: 6px;

  &-bar {
    position: fixed;
    width: 6px;
    height: 50vh;
    background-color: $color-black;
    top: 0;
    bottom: 50vh;
    z-index: -1;
  }

  &-overlay-top {
    position: absolute;
    width: 6px;
    background-color: $color-black;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &-overlay-bottom {
    position: absolute;
    width: 100%;
    height: 25vh;
    background-color: linear-gradient(top,#040404 50%, #fff 50%);
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.form__stages {
  display: flex;
  flex-direction: column;
  position: relative;

  &-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  overflow: hidden;

    h3 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    small {
      font: $font-400-14-17;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      transform: translateX(-150%);
      transition: transform 0.5s;
    }

    h3:hover + small {
      transform: translateX(0);
      transition-delay: 0.5s;
    }
  }

  h4:not(:first-of-type) {
    background-color: $color-white;
  }

  &-toggle {
    margin: 0;
    border-radius: 30px;
    width: 58px;
    height: 58px;
    transform: translateZ(0);

    position: static;
    top: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-solitude;
    box-shadow: 3px 3px 3px 0px rgba(174, 184, 192, 1) inset;
    border: 4px solid $color-white;
  }

  &-toggle--active {
    font: $font-700-24-29;
    color: white;
    background-color: black;
    box-shadow: none;
    position: sticky;
    position: -webkit-sticky;
  }

  fieldset {
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    &:not(:first-of-type) {
      margin-top: 25px;
    }
  }
}

.form__stages-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 50px;
  background-color: $color-white;
  justify-items: center;
  align-items: center;

  .btn-white {
    grid-column: 2 / 3;
  }

  .btn-arrow {
    grid-column: 3 / 4;
    justify-self: end;
    align-items: center;
    transform: rotate(180deg);
  }
}

.form__stages-list {
  grid-column: 4 / -1;
  display: grid;
  gap: 8px;
  grid-template-columns: minmax(190px, 380px);

  label {
    font: $font-200-16-19;
    position: relative;
    display: grid;
    grid-template-columns: min-content minmax(auto, 322px) auto;
    gap: 10px;
    align-items: baseline;

    &:hover {
      font-weight: 700;
      font-size: 16px;
    }

    &:hover .form__stages-tooltip {
      visibility: visible;
    }
  }
}

.form__stages-tooltip {
  grid-column: 2 / 3;
  visibility: hidden;
  width: 197px;
  background-color: $color-white;
  box-shadow: 6px 6px 16px 8px rgba(174, 174, 192, 0.35);
  text-align: initial;
  padding: 22px 14px;
  border-radius: 6px;
  border: 1px solid rgba(175, 185, 193, 0.69);
  position: absolute;
  z-index: 1;
  left: 110%;
  white-space: normal;
  &:not(:last-child) {
    bottom: -100%;
  }

  font: $font-200-10-12;
  color: $color-black;
}

.form__ready {
  padding-top: 83px;
  background-color: $color-white;
  position: relative;
  z-index: 2;

  h3 {
    padding-left: 100px;
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 360px));
    gap: 30px;
    justify-content: space-between;
    margin-top: 83px;

    fieldset {
      display: grid;
      grid-template-rows: 1fr 60px;
      border: none;
    }

    a,
    button {
      grid-column: 2 / 3;
    }
  }

  &-card {
    display: grid;
    grid-template-rows: 80px minmax(auto, 1fr) auto;
    gap: 10px;
    justify-items: center;
    padding: 8px 30px 43px;
    border: 2px solid $color-light-grey;
    border-radius: 20px;
    overflow: hidden;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      border: 2px solid $color-black;
    }

    h4 {
      font: $font-700-24-29;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    label {
      display: flex;

      input {
        margin-right: 10px;
      }
  
      p {
        font: $font-200-16-19;
        margin: 0;
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;

    label {
      display: grid;
      grid-template-columns: 16px 1fr;
      gap: 10px;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font: $font-700-24-29;
      text-align: center;
      margin: 5px 0;
    }

    // input:checked + span {
    //   background: $color-nero;
    // }
  }

  &-commentary {
    font: $font-200-16-19;
    display: flex;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: ($vp-1440 - 1)) {
  .form__intro {
    padding-top: 50px;
  }

  .form__progress,
  .form__progress-bar,
  .form__progress-overlay-top,
  .form__progress-overlay-bottom {
    width: 4px;
  }

  .form__progress-bar {
    height: 51vh;
    bottom: 49vh;
  }

  .form__progress-overlay-top {
    height: 0;
  }

  .form__stages-container {
    position: relative;
    grid-template-columns: 2fr 7fr;
    small {
      position: absolute;
    }
  }

  .form__stages-toggle {
    font: $font-200-24-29;
    width: 45px;
    height: 45px;
    justify-self: center;

    &--active {
      font-weight: 700;
    }
  }

  .form__stages {
    fieldset {
      gap: 30px;
      margin-top: 0;
    }
  }

  .form__stages fieldset h4 {
    font: $font-200-18-22;
    margin-top: 0;
  }

  .form__stages-list label {
    grid-template-columns: 16px minmax(auto, 205px);
  }

  .form__stages-tooltip {
    top: 50px;
    left: 0;
  }

  .form__stages-btn {
    padding-top: 18px;
  }

  .form__stages-btn .btn-arrow svg {
    width: 30px;
  }

  .form__ready {
    padding-top: 68px;
  }
  
  .form__ready h3 {
    padding-left: 0;
  }

  .form__ready-cards {
    gap: 15px;
    margin-top: 21px;
  }

  .form__ready-card {
    padding: 8px;
    grid-template-rows: 70px minmax(auto, 1fr) auto;
  }

  .form__ready-card h4 {
    font: $font-700-18-21;
  }

  .form__ready-list {
    padding: 0;
  }

  .form__ready-list label {
    grid-template-columns: 16px minmax(auto, 165px);
    font: $font-200-16-19;
  }
}

@media (max-width: ($vp-768 - 1)) {
  .form::after {
    height: 15%;
  }

  .form__stages-question {
    display: block;
    width: 42px;
    height: 42px;
    grid-column: 3 / 4;
  }
  
  .form__stages-content {
    h5 {
      font: $font-200-18-22;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-left: 20px;
    }

    p {
      font: $font-200-10-12;
    }
  }

  .form__stages-actions {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 50px;

    padding: 0.5rem 1rem;
    button {
      border: 0;
      background: $color-light-grey;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      line-height: 1;
      transform: rotate(90deg);
    }
  }

  .form__boooooox {
    grid-template-columns: 50px 1fr;
    gap: 10px;
  }

  .form__intro {
    padding-top: 22px;
  }

  .form__intro h2 {
    grid-column: 1 / -1;
    margin-bottom: 18px;
  }

  .form__progress {
    align-self: flex-start;
    left: 46px;
  }

  .form__stages-container {
    grid-template-columns: 50px auto 40px 40px;
    width: 100%;
    gap: 10px;
    align-self: center;
    overflow: inherit;
    small {
      display: none;
    }

    &:last-child(:last-of-type) {
      display: none;
    }
  }

  .form__stages-container h3 {
    grid-column: 2 / 4;
  }

  .form__stages fieldset {
    grid-template-columns: 45px 1fr;
    gap: 15px;
  }

  .form__stages fieldset h4 {
    font-size: 15px;
    line-height: 18px;
    grid-column: 2 / 3;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
  }

  .form__stages-toggle {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font: $font-200-18-22;
    position: sticky;
    top: 50%; /* Измените на свои потребности */
    transform: translateY(-50%);

    &--active {
      font: $font-700-18-21;
      transition: font 0.3s ease;
    }
  }

  .form__stages-list {
    grid-column: 2 / 3;
  }

  .form__stages-list label {
    font-size: 15px;
    line-height: 18px;
  
    &:hover {
      font-size: 15px;
      line-height: 18px;
    }
  }

  .form__stages-tooltip {
    display: none;
  }

  .form__stages-btn {
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
  }

  .form__stages-btn .btn-white {
    grid-column: 2 / 8;
  }

  .form__stages-btn .btn-arrow {
    grid-column: 8 / 9;
  }

  .form__ready {
    padding-top: 39px;
  }

  .form__ready-cards {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 5px;
  }

  .form__ready-card {
    grid-template-rows: 35px auto auto;
    min-height: auto;
    padding: 5px;
  }

  .form__ready-card h4 {
    font: $font-700-14-17;
    padding: 5px;
  }

  .form__ready-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
    height: auto;
    padding: 0;
  }

  .form__ready-list label {
    font-size: 15px;
    line-height: 18px;
    gap: 8px;
  }

  .form__ready-container p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .form__label-ready {
    &-s-two-logotypes {order: 1}
    &-s-corporate-style {order: 3}
    &-s-three-carriers {order: 2}
    &-s-package {order: 4}

    &-i-two-logotypes { order: 1}
    &-i-corporate-style { order: 3}
    &-i-five-carriers { order: 2}
    &-i-brandbook { order: 5}
    &-i-package { order: 4}

    &-bi-two-types-of-naming { order: 3}
    &-bi-two-logotypes { order: 1}
    &-bi-corporate-style { order: 7}
    &-bi-five-carriers { order: 2}
    &-bi-brandbook { order: 4}
    &-bi-brand-platform { order: 5}
    &-bi-package { order: 6}
  }
}
