.form {
  counter-reset: cnt;
  margin-top: 88px;

  &__intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    h2 {
      grid-column: 2 / 3;
      justify-self: center;
    }
  
    button {
      grid-column: 3 / 4;
      justify-self: end;
      justify-items: baseline;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  fieldset {
    margin-bottom: 25px;

    &:not(:first-of-type) {
      margin-top: 25px;
    }

    counter-increment: cnt;
    position: relative;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 60px 1fr 1fr;
    gap: 50px;

    h4 {
      grid-column: 2 / 3;
      font-size: 24px;
      font-weight: 200;
      line-height: 29px;
      text-align: end;
      margin-top: 8px;
    }

    h4:after {
      content: "0"counter(cnt);
      position: absolute;
      left: 49%;
      top: 17px;
    }
  }

  &__stage {
    display: grid;
    grid-template-columns: 2fr 5fr;

    h3 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    small {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }
  }
}

.form__list {
  grid-column: 4 / -1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;

  label {
    position: relative;
    display: flex;
    align-items: baseline;
    font-size: 16px;
    font-weight: 200;
    line-height: 19px;

    .form__tooltip {
      visibility: hidden;
      width: 197px;
      background-color: $color-white;
      box-shadow: 6px 6px 16px 8px rgba(174, 174, 192, 0.35);
      text-align: initial;
      padding: 22px 14px;
      border-radius: 6px;
      border: 1px solid rgba(175, 185, 193, 0.69);
      position: absolute;
      z-index: 1;
      top: -5px;
      left: 105%; 

      font-size: 10px;
      font-weight: 200;
      line-height: 12px;
      color: $color-black;
    }

    &:hover .form__tooltip {
      visibility: visible;
    }
  }

  input {
    margin-right: 10px;
  }
}

.form__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .btn-white {
    grid-column: 2 / 3;
    border: 3px solid $color-black;
    border-radius: 60px;
  }

  .btn-arrow {
    grid-column: 3 / 4;
    justify-self: end;
    align-items: center;
    transform: rotate(180deg);
  }
}

/* ВИД РАЗРАБОТКИ */
.form__label-branding .form__tooltip::after {
  content: 'Изучение бренда для решения конкретных маркетинговых задач, в том числе повышение конкурентноспособности, формирование уникального образа, повышение симпатии потребителей, а также закрепление и дальнейшее развитие позиции на рынке.';
}
.form__label-rebranding .form__tooltip::after {
  content: 'Обновление уже имеющихся концептов и реализованных идей на основе полученного опыта компании на рынке, в том числе и полное реконструкция образа компании с нуля.';
}
.form__label-retail-branding .form__tooltip::after {
  content: 'Проектирование и оптимизация торгового пространства, развитие качества взаимодействия торговых точек с клиентами.';
}
.form__label-localization .form__tooltip::after {
  content: 'Перевод и адаптирование иностранной продукции под Российский сегмент (в том числе по программе импортозамещения).';
}

/* ИССЛЕДОВАНИЕ */
.form__label-marketing-analysis .form__tooltip::after {
  content: 'Проводится полный анализ взаимодействия между брендом и клиентом, напрямую влияющий на уровень клиентского опыта. Включает в себя весь путь клиента от потребности до результата (customer journey), все точки контакта клиента с брендом (brand touchpoints), а также окружение при взаимодействии (environment).';
}
.form__label-cjm .form__tooltip::after {
  content: 'Проводится полный анализ взаимодействия между брендом и клиентом, напрямую влияющий на уровень клиентского опыта. Включает в себя весь путь клиента от потребности до результата (customer journey), все точки контакта клиента с брендом (brand touchpoints), а также окружение при взаимодействии (environment).';
}
.form__label-customer-experience .form__tooltip::after {
  content: 'Проводится полный анализ взаимодействия между брендом и клиентом, напрямую влияющий на уровень клиентского опыта. Включает в себя весь путь клиента от потребности до результата (customer journey), все точки контакта клиента с брендом (brand touchpoints), а также окружение при взаимодействии (environment).';
}
.form__label-brand-audit .form__tooltip::after {
  content: 'Аудит бренда — один из самых надёжных методов анализа составляющих бренда, а именно: его конкурентоспособности, текущего положения бренда на рынке, включая исследование потенциала для его дальнейшего развития.';
}
.form__label-structuring-of-the-received-data .form__tooltip::after {
  content: 'Все полученные данные затем структурируются для подбора оптимальной стратегии позиционирования, сегментирования ключевых групп целевой аудитории, выявлении сильных и слабых сторон позиционирования бренда относительно конкурентов. Мы используем собственные и международные методики изучения брендов, применяя самые результативные модели.';
}
