.form {
  .wrapper {
    position: relative;
  }

  fieldset {
    padding: 0;

    input {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }
  }
}

.form__option {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Crect width='15' height='15' x='.5' y='.5' fill='%23fff' rx='3.5'/%3E%3Crect width='15' height='15' x='.5' y='.5' stroke='%23E8E7E7' rx='3.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

fieldset input:checked + .form__option,
fieldset input:checked:hover + .form__option {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Crect width='15' height='15' x='.5' y='.5' fill='%23fff' rx='3.5'/%3E%3Cpath stroke='%23000' d='M4 7.143 7.2 10 12 5'/%3E%3Crect width='15' height='15' x='.5' y='.5' stroke='%23000' rx='3.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.form__intro {
  padding-top: 88px;
  background-color: $color-white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  h2 {
    grid-column: 2 / 3;
    justify-self: center;
  }
}

.form__progress {
  position: absolute;
  width: 6px;
  height: 100em;
  background-color: $color-solitude;
  box-shadow: 1px 1px 2px 0px rgba(166, 171, 189, 1) inset;
  display: flex;
  align-self: center;
  top: 150px;
  z-index: -2;
  border-radius: 6px;

  &-bar {
    position: fixed;
    width: 6px;
    height: 50vh;
    background-color: $color-black;
    top: 0;
    bottom: 50vh;
    z-index: -1;
  }

  &-overlay-top {
    position: absolute;
    width: 6px;
    height: 20vh;
    background-color: $color-black;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &-overlay-bottom {
    position: absolute;
    width: 100%;
    height: 25vh;
    background-color: linear-gradient(top,#040404 50%, #fff 50%);
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.form__stages {
  display: flex;
  flex-direction: column;

  &-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  &:first-child {
    background-color: $color-white;
  }

    h3 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    small {
      font: $font-400-14-17;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &-toggle {
    margin-top: 0;
    border-radius: 30px;
    width: 58px;
    height: 58px;

    position: static;
    top: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-solitude;
    box-shadow: 3px 3px 3px 0px rgba(174, 184, 192, 1) inset;
  }

  &-toggle--active {
    font: $font-700-24-29;
    color: white;
    background-color: black;
    box-shadow: none;
    position: sticky;
  }

  fieldset {
    margin-top: 30px;
    margin-bottom: 25px;

    &:not(:first-of-type) {
      margin-top: 25px;
    }

    position: relative;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 60px 1fr 1fr;
    gap: 50px;

    h4 {
      font: $font-200-24-29;
      grid-column: 2 / 3;
      text-align: end;
      margin-top: 14px;
    }
  }
}

.form__stages-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 50px;
  background-color: $color-white;

  .btn-white {
    grid-column: 2 / 3;
  }

  .btn-arrow {
    grid-column: 3 / 4;
    justify-self: end;
    align-items: center;
    transform: rotate(180deg);
  }
}

.form__stages-list {
  grid-column: 4 / -1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;

  label {
    font: $font-200-16-19;
    position: relative;
    display: grid;
    grid-template-columns: 16px minmax(auto, 350px);
    gap: 10px;
    align-items: baseline;

    &:hover {
      font-weight: 700;
      line-height: 19px;
    }

    &:hover .form__stages-tooltip {
      visibility: visible;
    }
  }
}

.form__stages-tooltip {
  visibility: hidden;
  width: 197px;
  background-color: $color-white;
  box-shadow: 6px 6px 16px 8px rgba(174, 174, 192, 0.35);
  text-align: initial;
  padding: 22px 14px;
  border-radius: 6px;
  border: 1px solid rgba(175, 185, 193, 0.69);
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%; 

  font: $font-200-10-12;
  color: $color-black;
}

/* КОММЕНТАРИИ К РАДИОКНОПКАМ*/
/* вид разработки */
.form__label-stages-branding .form__stages-tooltip::after {
  content: 'Изучение бренда для решения конкретных маркетинговых задач, в том числе повышение конкурентноспособности, формирование уникального образа, повышение симпатии потребителей, а также закрепление и дальнейшее развитие позиции на рынке.';
}
.form__label-stages-rebranding .form__stages-tooltip::after {
  content: 'Обновление уже имеющихся концептов и реализованных идей на основе полученного опыта компании на рынке, в том числе и полное реконструкция образа компании с нуля.';
}
.form__label-stages-retail-branding .form__stages-tooltip::after {
  content: 'Проектирование и оптимизация торгового пространства, развитие качества взаимодействия торговых точек с клиентами.';
}
.form__label-stages-localization .form__stages-tooltip::after {
  content: 'Перевод и адаптирование иностранной продукции под Российский сегмент (в том числе по программе импортозамещения).';
}
/* исследование */
.form__label-stages-marketing-analysis .form__stages-tooltip::after {
  content: 'Проводится полный анализ взаимодействия между брендом и клиентом, напрямую влияющий на уровень клиентского опыта. Включает в себя весь путь клиента от потребности до результата (customer journey), все точки контакта клиента с брендом (brand touchpoints), а также окружение при взаимодействии (environment).';
}
.form__label-stages-cjm .form__stages-tooltip::after {
  content: 'Проводится полный анализ взаимодействия между брендом и клиентом, напрямую влияющий на уровень клиентского опыта. Включает в себя весь путь клиента от потребности до результата (customer journey), все точки контакта клиента с брендом (brand touchpoints), а также окружение при взаимодействии (environment).';
}
.form__label-stages-customer-experience .form__stages-tooltip::after {
  content: 'Проводится полный анализ взаимодействия между брендом и клиентом, напрямую влияющий на уровень клиентского опыта. Включает в себя весь путь клиента от потребности до результата (customer journey), все точки контакта клиента с брендом (brand touchpoints), а также окружение при взаимодействии (environment).';
}
.form__label-stages-brand-audit .form__stages-tooltip::after {
  content: 'Аудит бренда — один из самых надёжных методов анализа составляющих бренда, а именно: его конкурентоспособности, текущего положения бренда на рынке, включая исследование потенциала для его дальнейшего развития.';
}
.form__label-stages-structuring-of-the-received-data .form__stages-tooltip::after {
  content: 'Все полученные данные затем структурируются для подбора оптимальной стратегии позиционирования, сегментирования ключевых групп целевой аудитории, выявлении сильных и слабых сторон позиционирования бренда относительно конкурентов. Мы используем собственные и международные методики изучения брендов, применяя самые результативные модели.';
}

.form__ready {
  padding-top: 83px;
  background-color: $color-white;

  h3 {
    padding-left: 100px;
    max-width: 755px;
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, auto));
    gap: 30px;
    justify-content: space-between;

    fieldset {
      display: flex;
      flex-direction: column;
      border: none;
    }
  }

  &-card {
    min-height: 451px;
    display: grid;
    grid-template-rows: 70px auto auto;
    justify-items: center;
    padding: 8px 30px 43px;
    border: 2px solid $color-light-grey;
    border-radius: 7px;
    overflow: hidden;

    h4 {
      font: $font-700-24-29;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 13px;
    }

    label {
      display: flex;

      input {
        margin-right: 10px;
      }
  
      p {
        font: $font-200-16-19;
        margin: 0;
      }
    }
  }

  &-list {
    height: 210px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 0;
    padding: 20px;

    label {
      display: grid;
      grid-template-columns: 16px 1fr;
      gap: 10px;
    }
  }

  &-container {
    margin-top: 20px;

    p {
      font: $font-700-24-29;
      text-align: center;
      margin: 5px 0;
    }
  }

  &-commentary {
    font: $font-200-16-19;
    display: flex;
    width: auto;
  }
}

@media (max-width: ($vp-1440 - 1)) {
  .form__intro {
    padding-top: 50px;
  }

  .form__progress,
  .form__progress-bar,
  .form__progress-overlay-top,
  .form__progress-overlay-bottom {
    width: 4px;
  }

  .form__progress-bar {
    height: 51vh;
    bottom: 49vh;
  }

  .form__progress-overlay-top {
    height: 0;
  }

  .form__stages-container {
    small {
      display: none;
    }
  }

  .form__stages-toggle {
    width: 37px;
    height: 37px;
    justify-self: center;
  }

  .form__stages {
    fieldset {
      gap: 30px;
    }
  }

  .form__stages fieldset h4 {
    font: $font-200-18-22;
    margin-top: 0;
  }

  .form__stages-list label {
    grid-template-columns: 16px minmax(auto, 205px);
  }

  .form__stages-tooltip {
    top: 50px;
    left: 0;
  }

  .form__ready-cards {
    gap: 15px;
  }

  .form__ready-card {
    padding: 8px;
  }

  .form__ready-list label {
    grid-template-columns: 16px minmax(auto, 165px);
  }
}

@media (max-width: ($vp-768 - 1)) {
  .form__progress {
    align-self: flex-start;
    left: 40px;
  }

  .form__stages-container {
    align-self: center;
  }

  .form__stages-container h3 {
    grid-column: 1 / -1;
  }

  .form__stages fieldset {
    grid-template-columns: 45px 1fr;
    gap: 15px;
  }

  .form__stages fieldset h4 {
    grid-column: 2 / 3;
    text-align: start;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .form__stages-toggle {
    grid-column: 1 / 2;
  }

  .form__stages-list {
    grid-column: 2 / 3;
  }

  .form__stages-btn {
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
  }

  .form__stages-btn .btn-white {
    grid-column: 2 / 5;
  }

  .form__stages-btn .btn-arrow {
    grid-column: 5 / 6;

    svg {
      width: 30px;
    }
  }

  .form__ready-cards {
    grid-template-columns: 1fr;
  }

  .form__ready-card {
    min-height: auto;
  }

  .form__ready h3 {
    padding-left: 0;
  }

  .form__ready-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    height: auto;
    padding: 0;
  }

  .form__ready-list label {
    font: $font-200-16-19;
  }
}
