.header {
  padding-top: 27px;
  padding-bottom: 10px;
  position: relative;
  z-index: 1;
  background-color: $color-white;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 170px;

    @media (max-width: ($vp-768 - 1)) {
      gap: 20px;
      padding: 0;
    }

    img {
      display: block;

      @media (max-width: ($vp-1440 - 1)) {
        width: 125px;
      }

      @media (max-width: ($vp-768 - 1)) {
        width: 60px;
        margin-left: 16px;
      }
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;

    @media (max-width: ($vp-768 - 1)) {
      position: absolute;
      flex-direction: column;
      z-index: 1;
      align-items: end;
    }

    a {
      font: $font-200-18-22;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(0, 0, 0, 1);
    }

    p {
      text-align: center;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: ($vp-768 - 1)) {
      display: none;
      flex-direction: column;
      position: absolute;
      align-items: baseline;
      margin-top: 50px;
      padding: 10px 16px;
      width: 100%;
      background-color: whitesmoke;
    }
  }

  &__button {
    display: none;

    @media (max-width: ($vp-768 - 1)) {
      z-index: 2;
      display: block;
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      justify-self: end;
      margin-right: 16px;
    }
  }
}