.mdl {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 20px 20px 20px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: $color-white;
  max-height: 100vh; /* Максимальная высота модального окна */
  overflow-y: auto; /* Добавь возможность скролла */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Тень для модального окна */

  ul {
    margin: 0;
    padding: 0;
  }

  h4 {
    font: $font-200-18-22;
  }

  p {
    font: $font-200-10-12;
  }
}

.mdl__open {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;

  @media (max-width: ($vp-768 - 1)) {
    display: flex;
    grid-column: 4 / 5;
  }
}

.mdl__close {
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: rotate(90deg) scale(1.2);
  }
}

.mdl__header {
  position: sticky;
  top: 0;
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1; /* Установи бОльший z-index для .mdl__header, чтобы он был над остальным контентом */
  // padding: 10px 20px; /* Добавь немного отступов для стиля */

  h3,
  li {
    font: $font-700-18-21;
  }
}

.mdl__content {
  // padding: 20px; /* Добавь отступы для контента, чтобы он не перекрывал .mdl__header */
  overflow-y: auto;
}

