.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background: $color-white;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    width: 100%;
    justify-content: space-between;
  }

  &__logo img {
    display: block;
  }

  &__list {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    justify-content: space-between;
    gap: 30px;
  }

  &__list > li > a {
    font: $font-200-18-22;
    letter-spacing: 0;
    text-align: left;
    color: rgba(0, 0, 0, 1);
  }
}

.navigation__menu {
  display: none;
}

.navigation__wrapper .navigation__list > li {
  display: flex;
  align-items: stretch;
}

.navigation__wrapper .navigation__list > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: black;
}

.navigation__wrapper .navigation__list > li > a.active {
  font: $font-700-18-21;
}

@media (max-width: ($vp-1440 - 1)) {
  .navigation__wrapper {
    gap: 10px;
  }

  .navigation__logo img {
    width: 125px;
  }
}

@media (max-width: ($vp-768 - 1)) {
  .navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
  }

  .navigation__wrapper .navigation__list {
    display: none;
  }

  .navigation__logo img {
    width: 60px;
    margin-left: 16px;
  }

  .navigation__menu {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .navigation__menu.open {
    left: 0;
  }

  .navigation__menu .navigation__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px 0;
    overflow: auto;
  }

  .navigation__menu .navigation__list > li {
    width: 100%;
  }

  .navigation__menu .navigation__list > li > a {
    font: $font-200-16-19;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .navigation__menu .navigation__list > li > a.active {
    font: $font-700-14-17;
  }

  .navigation__menu .navigation__list > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  body.noscroll {
    overflow: hidden;
  }
}
