.header {
  padding-top: 27px;
  padding-bottom: 10px;
  position: relative;
  z-index: 1;
  min-height: 121px;
  background-color: $color-white;
  @media (max-width: ($vp-1440 - 1)) {
    min-height: 90px;
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background: $color-white;

  @media (max-width: ($vp-768 - 1)) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
  }
}

.navbar__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
  width: 100%;
  justify-content: space-between;

  @media (max-width: ($vp-1440 - 1)) {
    gap: 10px;
  }
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo img {
    display: block;

  @media (max-width: ($vp-1440 - 1)) {
    width: 125px;
  }

  @media (max-width: ($vp-768 - 1)) {
    width: 60px;
    margin-left: 16px;
  } 
}

.menu > li > a {
  font: $font-200-18-22;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.menu {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  justify-content: space-between;
  gap: 30px;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: black;
}

.navbar__wrap .menu > li > a:hover {
  color: black;
}


@media (max-width: ($vp-768 - 1)) {
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 16px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: black;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    font: $font-200-16-19;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}