.ordering {
  margin-top: 50px;

  label,
  input,
  textarea {
    font: $font-200-24-29;
    cursor: pointer;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }

  &__info {
    grid-column: 1 / 2;
    p {
      display: flex;
      &:not(:last-of-type) {
        flex-direction: column;
      }

      &:last-of-type {
        outline: 2px solid $color-black;
        border-radius: 25px;
        padding: 5px 20px;
        label {
          font-weight: 700;
        }
        input {
            border: none;
            width: 100%;
            text-align: center;
        }
      }
    }
  }

  &__required {
    outline: 2px solid $color-black;
    border-radius: 25px;
    padding: 5px 20px;
    margin-top: 12px;
    margin-bottom: 12px;

    &:focus,
    &:focus-within,
    &:active {
      outline: 3px solid $color-black;
    }
  }

  &__file {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;

    &-label {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

    &-btn {
      font: $font-700-24-29;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      text-align: center;
      padding: 3px 30px;
      border-radius: 25px;
    }

    &-text {
      grid-column: 2 / 3;
      grid-row:  2 / 3;
      text-align: center;
    }
  }

  input[type="file"] {
    display: none;
  }

  &__details {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;

    h3 {
      font: $font-200-24-29;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 12px;
    }

    p {
      display: flex;
      flex-direction: column;
    }

    textarea {
      resize: none;
      margin-top: 10px;
      margin-bottom: 26px;
      outline: 2px solid $color-black;
      border-radius: 20px;
      padding: 5px 20px;
      height: 225px;

      &:focus,
      &:focus-within,
      &:active {
        outline: 3px solid $color-black;
      }
    }
  }

  &__container {
    min-height: 170px;

    ul {
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    li {
      display: flex;
      align-items: center;
      height: fit-content;
    }

    span {
      font: $font-700-14-17;
      margin-left: 10px;
    }
  }

  &__discount {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 21px 0;
    outline: 2px solid $color-black;
    border-radius: 25px;

    p {
      font: $font-700-24-29;
      margin: 0;
      padding: 5px 30px;
    }
  }

  &__buttons {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    label {
      line-height: 12px;
      position: relative;
      display: flex;
      align-items: center;
      &:first-of-type {
        grid-column: 1 / 2;
      }
      &:last-of-type {
        grid-column: 2 / 3;
      }
    }

    small {
      font: $font-200-10-12;
    }

    strong {
      font-weight: 700;
    }

    button {
      grid-column: 3 / 4;
      border-radius: 25px;
    }

    input[type="checkbox"] + span {
      width: 21px;
      height: 21px;
      margin-right: 9px;
      content: url("../img/icon-radio-off.svg");
      opacity: 0.8;
  
      &:hover,
      &:focus,
      &:focus-within {
        opacity: 1;
      }
    }

    input[type="checkbox"]:checked + span {
      content: url("../img/icon-radio-on.svg");
    }
  
    input[type="checkbox"]:disabled + span,
    input[type="checkbox"]:disabled ~ small {
      opacity: 0.5;
      cursor: default;
    }
  }
}
