.ordering {
  margin-top: 70px;

  label,
  input,
  textarea {
    font: $font-200-24-29;
    cursor: pointer;
    outline: none;
    caret-color: $color-black;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      "info details"
      "info about"
      "file about"
      "promo discount"
      "buttons buttons";
    column-gap: 100px;
    row-gap: 26px;
    position: relative;

    p {
      display: flex;
      flex-direction: column;
    }

    input {
      max-height: 35px;
    }
  }

  &__info {
    grid-area: info;

    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__promo {
    grid-area: promo;
    border: 2px solid $color-black-pearl;
    border-radius: 25px;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;

    label {
      font-weight: 700;
    }

    input {
      border: none;
      width: 100%;
      text-align: center;
      outline: none;
    }
  }

  &__required {
    border: 2px solid $color-black-pearl;
    border-radius: 25px;
    padding: 5px 20px;
    margin-top: 12px;
    margin-bottom: 12px;

    &:focus,
    &:focus-within,
    &:active {
      border: 2px solid $color-black;
    }
  }

  &__file {
    grid-area: file;

    label {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 15px;
      align-items: baseline;
    }

    &-label {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

    &-btn {
      font: $font-700-24-29;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      text-align: center;
      padding: 3px 30px;
      border-radius: 25px;
    }

    &-text {
      grid-column: 2 / 3;
      grid-row:  2 / 3;
      text-align: center;
    }
  }

  input[type="file"] {
    display: none;
  }

  &__details {
    grid-area: details;
    display: flex;
    flex-direction: column;

    h3 {
      font: $font-200-24-29;
      text-align: center;
      margin-top: 0;
      margin-bottom: 12px;
    }
  }

  &__about {
    grid-area: about;
    display: flex;
    flex-direction: column;

    textarea {
      resize: none;
      margin-top: 10px;
      margin-bottom: 26px;
      border: 2px solid $color-black-pearl;
      border-radius: 20px;
      padding: 5px 20px;
      height: 225px;
  
      &:focus,
      &:focus-within,
      &:active {
        border: 2px solid $color-black;
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;

    label {
      font: $font-700-14-17;
      display: flex;

      button {
        position: relative;
      }
    }
  }

  &__cross {
    cursor: pointer;
    position: absolute;
    right: 5px;
    padding: 10px;

    &:before, 
    &:after {
      content: ""; 
      position: absolute; 
      width: 12px; 
      height: 2px; 
      background: $color-mischka;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__discount {
    grid-area: discount;
    width: 80%;
    border: 2px solid $color-black-pearl;
    border-radius: 25px;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    label,
    input {
      font: $font-700-24-29;
      margin: 0;
      padding: 0;
    }
    input {
      width: inherit;
      border: none;
    }
  }

  &__buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    label {
      line-height: 12px;
      height: fit-content;
      position: relative;
      display: grid;
      grid-template-columns: 21px auto;
      gap: 10px;
      align-items: center;

      &:first-of-type {
        grid-column: 1 / 2;
      }
      &:last-of-type {
        grid-column: 2 / 3;
      }
    }

    small {
      font: $font-200-10-12;
    }

    strong {
      font-weight: 700;
    }

    .btn-black {
      margin-top: 50px;
    }

    input[type="checkbox"] + span {
      width: 21px;
      height: 21px;
    }
  }
}

@media (max-width: ($vp-1440 - 1)) {
  .ordering__form {
    grid-template-areas: 
    "info details"
    "info details"
    "about about"
    "file promo"
    "file discount"
    "buttons buttons";
    column-gap: 60px;
  }

  .ordering__form label,
  .ordering__details h3 {
    font: $font-200-18-22;
  }

  .ordering__container {
    grid-template-columns: 1fr;

      label {
        font: $font-700-18-21;
      }
  }


  .ordering__promo label {
    font: $font-700-18-21;
    grid-template-columns: 2fr 1fr;
  }

  .ordering__promo input {
    font: $font-700-18-21;
    text-align: start;
  }

  .ordering__discount {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);

    label,
    input {
      font: $font-700-18-21;
    }
  }

  .ordering__buttons {
    grid-template-columns: repeat(4, 1fr);

    button {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      justify-self: center;
      margin-top: 20px;
    }
  }
}

@media (max-width: ($vp-768 - 1)) {
  .ordering {
    margin-top: 0;
  }

  .ordering__form {
    grid-template-columns: 1fr;
    grid-template-areas:
    "details"
    "info"
    "about"
    "file"
    "promo"
    "discount"
    "buttons";
  }

  .ordering__form label,
  .ordering__form input,
  .ordering__about textarea {
    font: $font-200-12-14;
  }

  .ordering__promo label,
  .ordering__promo input,
  .ordering__discount label,
  .ordering__discount input   {
    font: $font-700-12-15;
  }

  .ordering__container {
    row-gap: 20px;
  }

  .ordering__details {
    margin-top: 25px;
  }

  .ordering__details h3 {
    align-self: baseline;
  }

  .ordering__buttons {
    grid-template-columns: 1fr;

    label:first-of-type {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    label:last-of-type {
      grid-column: 1 / 2;
      grid-row: 2 / 3
    }

    button {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }
}
