.popup {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 10;
  display: grid;
  grid-template-columns: 271px 60px;
  align-items: end;
  gap: 10px;
  color: $color-white;

  &__window {
    background-color: $color-black;
    border-radius: 20px;
    min-height: 283px;
    visibility: hidden;
    &--active {
      visibility: visible;
    }
  }

  &__meet {
    padding: 54px 20px;
    display: flex; /* пык */
    flex-direction: column;
    gap: 20px;
  }

  a {
    font: $font-200-18-22;
    color: $color-white;
  }

  &__form {
    font: $font-200-24-29;
    padding: 15px;
    // display: flex; /* пык */
    flex-direction: column;
    gap: 5px;
    display: none; /* пык */

    button {
      font: $font-700-24-29;
      color: $color-white;
    }
  }

  &__form .popup__personal {
    font: $font-200-12-14;
    display: grid;
    grid-template-columns: 16px auto;
    gap: 5px;
  }

  p {
    margin: 0;
  }

  p input {
    background-color: $color-black;
    border: 2px solid $color-white;
    border-radius: 20px;
    width: 100%;
  }

  &__btn {
    width: 60px;
    height: 60px;
    background-color: $color-white;
    padding: 0;
    border-radius: 20px;
  }

  &__success,
  &__failed {
    padding: 20px;
    display: flex; /* пык */
    flex-direction: column;
    align-items: center;
    display: none; /* пык */
  }
}
