.preform {
  font-size: 40px;
  line-height: 48px;
  padding-top: 88px;
  padding-bottom: 10px;
  position: relative;
  background-color: $color-white;

  .wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  p {
    font-weight: 200;
    margin: 0;
  }

  span {
    font-weight: 700;
  }

  a {
    justify-content: flex-end;
    justify-self: end;
    align-items: end;
    align-self: end;
  }
}

@media (max-width: ($vp-1440 - 1)) {
  .preform {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0em;
    padding-top: 45px;
  }
}

@media (max-width: ($vp-768 - 1)) {
  .preform {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    padding-top: 10px;
  }

  .preform a {
    justify-content: end;
    justify-self: end;
  }
}
