.projects {
  --mt-inside-card: 10px;
  overflow: hidden;

  @media (max-width: ($vp-470 - 1)) {
    li:nth-child(4n+2) {
      width: 136px;
      justify-self: end;
    }
  
    li:nth-child(4n+3) {
      width: 136px;
    }
  } 

  &__nav {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    text-align: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 50px;

    @media (max-width: ($vp-470 - 1)) {
      grid-template-columns: repeat(auto-fit, minmax(113px, 1fr));
    }

    a {
      font: $font-200-16-19;
      color: $color-black;
      width: 100%;

      &[aria-selected="true"],
      &:hover {
        font-weight: 700;
      }
  
      &:focus-visible {
        font-weight: 700;
      }
    }
  }

  li {
    display: flex;
    align-items: center;
    min-height: 30px;
    border: 1px solid $color-black;
    border-radius: 84px;

    &:hover {
      background-color: none;
    }
  }

  &__card {
    text-align: center;
    padding: 40px 0;
    position: relative;

    &:before{
      content: '';
      width: 120%;
      height: 1px;
      background-color: $color-black;
      position: absolute;
      display: block;
    }

    p {
      font: $font-700-24-29;
      color: $color-black;
      margin-top: var(--mt-inside-card);
    }
  }

  &__cta {
    display: grid;
    grid-template-columns: 200px 50px auto 200px;
    justify-content: start;
    gap: 45px;
    margin-top: 60px;

    img {
      display: block;
      width: 100%;
      margin-top: 10px;
      aspect-ratio: 658 / 401;
    }
  }

  h3 {
    font: $font-700-24-29;
    color: $color-black;
    margin-top: var(--mt-inside-card);
    max-width: 200px;
    text-align: left;
  }

  h4 {
    font: $font-200-24-29;
    color: $color-black;
    margin-top: var(--mt-inside-card);
    max-width: 180px;
    text-align: end;
  }
}

@media (max-width: ($vp-1440 - 1)) {
  .projects__nav {
    padding: 0 50px;
  }

  .projects__card p {
    font: $font-700-18-21;
  }

  .projects__cta {
    grid-template-columns: 150px 30px auto 150px;
  }

  .projects__cta img {
    aspect-ratio: 381 / 233;
  }

  .projects h3 {
    font: $font-700-18-21;
  }

  .projects h4 {
    font: $font-200-18-22;
  }
}

@media (max-width: ($vp-768 - 1)) {
  .projects__nav {
    padding: 0;
    column-gap: 50px;
    row-gap: 10px;
  }

  .projects__card {
    padding: 10px 0;
  }

  .projects__card p {
    font: $font-700-12-15;
  }

  .projects__cta {
    grid-template-columns: 60px 20px auto 70px;
    gap: 10px;
    margin-top: 10px;
  }

  .projects h3 {
    font: $font-700-9-11;
  }

  .projects h4 {
    font: $font-200-9-11;
  }
}
