extends layout/app

block page
  h1.visually-hidden Страница-портфолио Design Odd
  include chunk/header
  main
    include chunk/video
    include chunk/projects
  //- include chunk/footer
  script(src='js/main.js')
