extends layout/app

block page
  h1.visually-hidden Страница оформления заказа
  include chunk/header
  main
    include chunk/ordering
  //- include chunk/popup
  include chunk/footer
  video(preload="auto" loop autoplay playsinline muted).video__item
    source(type="video/webm" src="video/IMG_2.webm")
    source(type="video/mp4" src="video/IMG_2.mp4")
  .cursor
