section.form
  .wrapper
    #inner2.form__intro
      h2.title этапы разработки
    .form__progress
      .form__progress-bar
      .form__progress-overlay-top
      .form__progress-overlay-bottom
    include components/form__stages
    include components/form__ready
