- const DEVELOPMENTS = [{ value: 'branding', span: 'брендинг' }, { value: 'rebranding', span: 'ребрендинг' }, { value: 'retail-branding', span: 'ритейл-брендинг' }, { value: 'localization', span: 'локализация' },]

section.form
  .wrapper
    .form__intro
      h2.title этапы разработки
      button(type="button").btn-arrow
        svg(xmlns='http://www.w3.org/2000/svg' width='52' height='60' fill='none')
          path(fill='#000' d='M29.5 4a3.5 3.5 0 1 0-7 0h7Zm-5.975 54.475a3.5 3.5 0 0 0 4.95 0L50.749 36.2a3.5 3.5 0 1 0-4.95-4.95L26 51.051 6.201 31.25a3.5 3.5 0 1 0-4.95 4.95l22.274 22.274ZM22.5 4v52h7V4h-7Z')
    form(action='https://echo.htmlacademy.ru/' method='post')
      .form__stage
        h3.title брендинг
        small создание твердой платформы бренда при помощи определения характеристик 
          | будущего бренда, таких как: ценности, целевая аудитория, миссия и&nbsp;философия, 
          | позиционирование, тон голоса бренда и&nbsp;стиль визуальной коммуникации, сервис 
          | и&nbsp;опыт взаимодействия потребителя с&nbsp;брендом.
      fieldset
        h4 вид разработки
        .form__list 
          each development in DEVELOPMENTS
            label(class=`form__label-${development.value}` for=`development-${development.value}`)
              input.form__input(type='checkbox' name='development' id=`development-${development.value}` value=development.value)
              span.form__option
              =development.span
              span.form__tooltip