article.ordering
  .wrapper
    h2.title давайте обсудим детали!
    form.ordering__form#resultForm(action='http://127.0.0.1:4000/send_email' method='post' enctype='multipart/form-data')
      .ordering__info
        p
          label(for='name') Имя*:
          input#name.ordering__required(type='text' name='name' required='' autocomplete='name')
        p
          label(for='company') Название компании*:
          input#company.ordering__required(type='text' name='company' required='' autocomplete='company')
        p
          label(for='email') E-mail*:
          input#email.ordering__required(type='email' name='email' required='' autocomplete='email')
        p
          label(for='phone') Телефон*:
          input#phone.ordering__required(inputmode='decimal' pattern='\+7\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}' type='tel' name='phone' required='' autocomplete='tel' minlength='12')
      .ordering__promo
        label(for='promo_code') Промокод:
        input#promo_code(type='text' name='promo_code' placeholder='SEEDEX' autocomplete='promo')
      .ordering__file
        label(for='file')
          span.ordering__file-label Прикрепить файл с информацией:
          input#file(type='file' multiple accept='image/*,video/*')
          span.btn-black.btn-black--review.ordering__file-btn
          span.ordering__file-text Файл не выбран
      .ordering__details
        .ordering__heading
          h3 Выбранные позиции:
          a.btn-arrow#back(href="branding.html?prevPage=web.html")
            img(src="img/icon-arrow.svg", atl="Подняться", width="52")
        label(for='selected_items').ordering__container
          button.visually-hidden(type='button')
            .ordering__cross
          input.visually-hidden(type='text' name='selected_items' id='selected_items' data-span='' value='' readonly)
          span.visually-hidden
      .ordering__about
        label(for='project_description') Кратко о проекте и бюджете*:
        textarea(name='project_description' id='project_description' required='' value='')
      .ordering__discount
        label(for='discount') Ваша скидка:
        input(type='text' name='discount' id='discount' readonly)
      .ordering__buttons
        label(for='subscribe')
          input#subscribe.visually-hidden(checked='checked' type='checkbox' value='checked')
          span
          small Подписаться на рассылку
        label(for='personal')
          input#personal.visually-hidden(checked='checked' type='checkbox' value='checked' required='')
          span
          small
              | Согласен на обработку
              br
              strong персональных данных
        button.btn-black.btn-black--send(type='submit')
