section.preform
  .wrapper
    h2.visually-hidden Страница о выборе подходов к разработке бренда
    p 
      | на&nbsp;этой странице вы&nbsp;можете выбрать глубинный подход к&nbsp;разработке бренда или подобрать 
      span
        br 
        | готовые пакеты услуг для малого и&nbsp;среднего бизнеса
    button(type="button").btn-arrow
        svg(width="52" height="60" role="img" aria-labelledby="arrow__down" aria-description="Вниз")
          use(href="img/sprite.svg#arrow")
