doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')
    title design-odd.
    link(rel="stylesheet" href="css/main.min.css")
    link(rel="icon" href="/favicon.ico")
    link(rel='manifest' href='/manifest.webmanifest')
  body 
    block page